@model CPTM.ILA.Web.Models.Usuario

@using CPTM.CasisLibrary.MVC;
@using CPTM.Comum;

@{
    ViewBag.Title = "Detalhe de Usuário";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="row">
    <div class="col-md-10 form-group">
        <div class="row">
            <div class="col-md-3 form-group">
                @Html.HiddenFor(x => x.UsuarioId)
                @Html.CPTMLabelFor(x => x.UserName)
                @Html.CPTMTextBoxFor(x => x.UserName, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-6 form-group">
                @Html.CPTMLabelFor(x => x.Nome)
                @Html.CPTMTextBoxFor(x => x.Nome, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-3 form-group">
                @Html.CPTMLabelFor(x => x.Apelido)
                @Html.CPTMTextBoxFor(x => x.Apelido, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                @Html.CPTMLabelFor(x => x.EmpresaNome)
                @Html.CPTMTextBoxFor(x => x.EmpresaNome, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-2 form-group">
                @Html.CPTMLabelFor(x => x.AreaSigla)
                @Html.CPTMTextBoxFor(x => x.AreaSigla, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-2 form-group">
                @Html.CPTMLabelFor(x => x.Matricula)
                @Html.CPTMTextBoxFor(x => x.Matricula, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-2 form-group">
                @Html.CPTMLabelFor(x => x.AtivoNome)
                @Html.CPTMTextBoxFor(x => x.AtivoNome, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
            <div class="col-md-2 form-group">
                @Html.CPTMLabelFor(x => x.AtivoADNome)
                @Html.CPTMTextBoxFor(x => x.AtivoADNome, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="col-md-2 form-group">
        @{
            var base64 = Model.Foto != null ? Convert.ToBase64String(Model.Foto) : null;
            var imgSrc = base64 != null ? String.Format("data:image/gif;base64,{0}", base64) : "/Compartilhado/Images/usuarioNaoIdentificado.png";
        }
        <img alt="foto" class="img-thumbnail" src="@imgSrc" width="125" height="150" />
    </div>
</div>
<div class="row">
    <div class="col-md-2 form-group">
        @Html.CPTMLabelFor(x => x.EstruturaOrganizacionalId)
        @Html.CPTMTextBoxFor(x => x.EstruturaOrganizacionalId, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
    </div>
    <div class="col-md-10 form-group">
        @Html.CPTMLabelFor(x => x.EnderecoCompleto)
        @Html.CPTMTextBoxFor(x => x.EnderecoCompleto, tipo: EnumTextBoxType.Padrao, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group">
        @Html.CPTMLabelFor(x => x.TelefoneComercial)
        @Html.CPTMTextBoxFor(x => x.TelefoneComercial, tipo: EnumTextBoxType.Telefone, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
    </div>
    <div class="col-md-3 form-group">
        @Html.CPTMLabelFor(x => x.TelefoneCelular)
        @Html.CPTMTextBoxFor(x => x.TelefoneCelular, tipo: EnumTextBoxType.TelefoneCelular, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
    </div>
    <div class="col-md-6 form-group">
        @Html.CPTMLabelFor(x => x.Email)
        @Html.CPTMTextBoxFor(x => x.Email, tipo: EnumTextBoxType.Email, alteraFocusMaxCaracteres: true, alteraFocusTeclaEnter: true, preenchimentoObrigatorio: true, htmlAttributes: new { @disabled = "disabled" })
    </div>
</div>

<div class='modal-footer' id='rodapeModal'>
    <div class='row'>
        <div class='col-xs-12'>
            <button class='btn btn-default pull-right' data-fechar='modal'>
                Fechar
            </button>
        </div>
    </div>
</div>

@*Java Script - JQuery *@
<script type="text/javascript">

    $(document).ready(function () {



    });

</script>
@*Java Script - JQuery *@
