@using CPTM.CasisLibrary.MVC;
@using CPTM.Comum;
@{
    ViewBag.Title = "Exemplo de Notificação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>Exemplos de Notificação</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>Descrição</b>
        <p>
            Função JavaScript que exibe notificação customizada.</p>
        <b>Funções adicionais</b>:
        <ul>
            <li>Executa função callback após fechamento da mensagem.</li>
        </ul>
        <b>Parâmetros</b>
        <ol>
            <li>tipo: sucesso / informacao / erro / alerta / nenhum(vazio)</li>
            <li>icone: Classe de ícones do Font-Awesome (Exemplo: sucesso = fa fa-check-circle /
                informacao = fa fa-info-circle / erro = fa fa-times-circle / alerta = fa fa-warning)</li>
            <li>titulo: Título da mensagem</li>
            <li>mensagem: Conteúdo da mensagem</li>
            <li>posicao: superior_centro, superior_esquerdo, superior_direito, inferior_centro, inferior_esquerdo e inferior_direito</li>
            <li>autoOcultar: notificação deve se autoocultar (bool)</li>
            <li>funcaoAposFechar: função JavaScript para executar após fechar a notificação</li>
            <li>funcaoAposFecharParametro: parâmetro da função JavaScript para executar após fechar
                a notificação</li>
        </ol>
        <b>Sintaxe</b>
        <p>
            <code>mostrarNotificacao(tipo, icone, titulo, mensagem, posicao, autoOcultar, funcaoAposFechar, funcaoAposFecharParametro);</code>
        </p>
        <b>Exemplos</b>
        <p>
            <code>mostrarNotificacao("successo", "fa fa-check-circle", "Sucesso", "Exemplo de notificação de sucesso.", "superior_direito", true);</code><br />
            <code>mostrarNotificacao("erro", "fa fa-times-circle", "Erro", "Exemplo de notificação de erro.", "superior_direito", true);</code><br />
            <code>mostrarNotificacao("informacao", "fa fa-info-circle", "Informação", "Exemplo de notificação de informação.", "superior_direito", true);</code><br />
            <code>mostrarNotificacao("alerta", "fa fa-warning", "Alerta", "Exemplo de notificação de alerta.", "superior_direito", true);</code><br />
            <code>mostrarNotificacao("", "", "Padrão", "Exemplo de notificação de padrão.", "superior_direito", true);</code><br />
        </p>
        <br />
        @Html.CPTMActionLink("Testar", "btnNotificacaoPadrao", acaoSubmit: false, tipo: ActionLinkTipo.Customizado)
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href="#divRecursosExternos"><i class="fa fa-external-link"></i> Recursos Externos</a>
            </div>
            <div id="divRecursosExternos" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <li><a href="https://sciactive.github.io/pnotify/" target="_blank">PNotify</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mensagens Predefinidas
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <h4>Sucesso</h4>
                    </div>
                    <div class="form-group col-md-8">
                        <b>Sintaxe</b>
                        <p><code>mostrarNotificacaoSucesso(titulo, mensagem, posicao, autoOcultar, funcaoAposFechar, funcaoAposFecharParametro);</code></p> 
                        <b>Exemplo</b>
                        <p><code>mostrarNotificacaoSucesso("Sucesso", "Exemplo de notificação de sucesso.", "superior_direito", true, null, null);</code></p>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.CPTMActionLink("Testar", "btnNotificacaoSucesso", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-2">
                        <h4>Erro</h4>
                    </div>
                    <div class="form-group col-md-8">
                        <b>Sintaxe</b>
                        <p><code>mostrarNotificacaoErro(titulo, mensagem, posicao, autoOcultar, funcaoAposFechar, funcaoAposFecharParametro);</code></p> 
                        <b>Exemplo</b>
                        <p><code>mostrarNotificacaoErro("Erro", "Exemplo de notificação de erro.", "superior_direito", true, null, null);</code></p>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.CPTMActionLink("Testar", "btnNotificacaoErro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-2">
                        <h4>Informação</h4>
                    </div>
                    <div class="form-group col-md-8">
                        <b>Sintaxe</b>
                        <p><code>mostrarNotificacaoInformacao(titulo, mensagem, posicao, autoOcultar, funcaoAposFechar, funcaoAposFecharParametro);</code></p> 
                        <b>Exemplo</b>
                        <p><code>mostrarNotificacaoInformacao("Informação", "Exemplo de notificação de informação.", "superior_direito", true, null, null);</code></p>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.CPTMActionLink("Testar", "btnNotificacaoInformacao", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-2">
                        <h4>Alerta</h4>
                    </div>
                    <div class="form-group col-md-8">
                        <b>Sintaxe</b>
                        <p><code>mostrarNotificacaoAlerta(titulo, mensagem, posicao, autoOcultar, funcaoAposFechar, funcaoAposFecharParametro);</code></p> 
                        <b>Exemplo</b>
                        <p><code>mostrarNotificacaoAlerta("Alerta", "Exemplo de notificação de alerta.", "superior_direito", true, null, null);</code></p>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.CPTMActionLink("Testar", "btnNotificacaoAlerta", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo)
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Exemplos
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <h4>Superior Centro</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomSuperiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                    <div class="form-group col-md-2">
                        <h4>Superior Esquerdo</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomSuperiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                    <div class="form-group col-md-2">
                        <h4>Superior Direito</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomSuperiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                    <div class="form-group col-md-2">
                        <h4>Inferior Centro</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomInferiorCentro", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                    <div class="form-group col-md-2">
                        <h4>Inferior Esquerdo</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomInferiorEsquerdo", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                    <div class="form-group col-md-2">
                        <h4>Inferior Direito</h4>
                        <hr />
                        <p>@Html.CPTMActionLink("Sucesso", "btnSucessoInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Check_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Erro", "btnErroInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Fechar_Circulo_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Informação", "btnInformacaoInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Informacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Alerta", "btnAlertaInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Exclamacao_Circulo, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("Customizado", "btnCustomizadoInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Bandeira_1, htmlAttributes: new { Style = "width:150px;" })</p>
                        <p>@Html.CPTMActionLink("CallBack", "btnCallBackCustomInferiorDireito", acaoSubmit: false, tipo: ActionLinkTipo.Customizado, iconeEsquerdo: Icones.Responder, htmlAttributes: new { Style = "width:150px;" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Java Script - JQuery *@
<script type="text/javascript">

    $(document).ready(function () {

        // Padrão
        $('#btnNotificacaoPadrao').click(function () {
            mostrarNotificacao('', '', 'Exemplo', 'Exemplo de notificação.', 'superior_direito', true, null, null);
        });
        
        // Notificações Predefinidas
        $('#btnNotificacaoSucesso').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'superior_direito', true, null, null);
        });
        $('#btnNotificacaoErro').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'superior_direito', true, null, null);
        });
        $('#btnNotificacaoInformacao').click(function () {
            mostrarNotificacaoInformacao('Informacao', 'Exemplo de notificação de informacao.', 'superior_direito', true, null, null);
        });
        $('#btnNotificacaoAlerta').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'superior_direito', true, null, null);
        });
        
        // SuperiorCentro
        $('#btnSucessoSuperiorCentro').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'superior_centro', true);
        });

        $('#btnErroSuperiorCentro').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'superior_centro', true);
        });

        $('#btnInformacaoSuperiorCentro').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'superior_centro', true);
        });

        $('#btnAlertaSuperiorCentro').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'superior_centro', true);
        });

        $('#btnCustomizadoSuperiorCentro').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'superior_centro', true);
        });

        $('#btnCallBackCustomSuperiorCentro').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'superior_centro', true, TesteCallBack, $(this).attr('id'));
        });

        // SuperiorEsquerdo
        $('#btnSucessoSuperiorEsquerdo').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'superior_esquerdo', true);
        });

        $('#btnErroSuperiorEsquerdo').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'superior_esquerdo', true);
        });

        $('#btnInformacaoSuperiorEsquerdo').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'superior_esquerdo', true);
        });

        $('#btnAlertaSuperiorEsquerdo').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'superior_esquerdo', true);
        });

        $('#btnCustomizadoSuperiorEsquerdo').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'superior_esquerdo', true);
        });

        $('#btnCallBackCustomSuperiorEsquerdo').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'superior_esquerdo', true, TesteCallBack, $(this).attr('id'));
        });

        // SuperiorDireito
        $('#btnSucessoSuperiorDireito').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'superior_direito', true);
        });

        $('#btnErroSuperiorDireito').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'superior_direito', true);
        });

        $('#btnInformacaoSuperiorDireito').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'superior_direito', true);
        });

        $('#btnAlertaSuperiorDireito').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'superior_direito', true);
        });

        $('#btnCustomizadoSuperiorDireito').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'superior_direito', true);
        });

        $('#btnCallBackCustomSuperiorDireito').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'superior_direito', true, TesteCallBack, $(this).attr('id'));
        });

        // InferiorCentro
        $('#btnSucessoInferiorCentro').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'inferior_centro', true);
        });

        $('#btnErroInferiorCentro').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'inferior_centro', true);
        });

        $('#btnInformacaoInferiorCentro').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'inferior_centro', true);
        });

        $('#btnAlertaInferiorCentro').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'inferior_centro', true);
        });

        $('#btnCustomizadoInferiorCentro').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'inferior_centro', true);
        });

        $('#btnCallBackCustomInferiorCentro').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'inferior_centro', true, TesteCallBack, $(this).attr('id'));
        });

        // InferiorEsquerdo
        $('#btnSucessoInferiorEsquerdo').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'inferior_esquerdo', true);
        });

        $('#btnErroInferiorEsquerdo').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'inferior_esquerdo', true);
        });

        $('#btnInformacaoInferiorEsquerdo').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'inferior_esquerdo', true);
        });

        $('#btnAlertaInferiorEsquerdo').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'inferior_esquerdo', true);
        });

        $('#btnCustomizadoInferiorEsquerdo').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'inferior_esquerdo', true);
        });

        $('#btnCallBackCustomInferiorEsquerdo').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'inferior_esquerdo', true, TesteCallBack, $(this).attr('id'));
        });

        // InferiorDireito
        $('#btnSucessoInferiorDireito').click(function () {
            mostrarNotificacaoSucesso('Sucesso', 'Exemplo de notificação de sucesso.', 'inferior_direito', true);
        });

        $('#btnErroInferiorDireito').click(function () {
            mostrarNotificacaoErro('Erro', 'Exemplo de notificação de erro.', 'inferior_direito', true);
        });

        $('#btnInformacaoInferiorDireito').click(function () {
            mostrarNotificacaoInformacao('Informação', 'Exemplo de notificação de informação.', 'inferior_direito', true);
        });

        $('#btnAlertaInferiorDireito').click(function () {
            mostrarNotificacaoAlerta('Alerta', 'Exemplo de notificação de alerta.', 'inferior_direito', true);
        });

        $('#btnCustomizadoInferiorDireito').click(function () {
            mostrarNotificacao(null, 'fa fa-flag-o', '<span style=\"color: green;\">Customizado</span>', '<span style=\"color: blue;\">Exemplo <em>de</em> <span style=\"font-size: 1.5em;\">notificação</span> customizada.</span>', 'inferior_direito', true);
        });

        $('#btnCallBackCustomInferiorDireito').click(function () {
            mostrarNotificacao('info', 'fa fa-mail-reply', 'CallBack', 'Exemplo de notificação com CallBack.', 'inferior_direito', true, TesteCallBack, $(this).attr('id'));
        });

    });

    function TesteCallBack(parametro) {
        alert('Teste do CallBack da notificação. \n\nControle que chamou a notificação: ' + parametro);
    }
            
</script>
@*Java Script - JQuery *@
