@model CPTM.ILA.Web.Models.Produto

@using System.Text;
@using CPTM.CasisLibrary.MVC;
@using CPTM.Comum;
@using CPTM.ILA.Web.Models;

@{
    if (ViewBag.Retorno == Enumerador.EnumRetornoMensagem.Erro)
    {
        <script type="text/javascript">
	    mostrarNotificacaoErro("Detalhe de Produto", "@Html.Raw(ViewBag.Mensagem)");
	    carregarControles();
        </script>
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">Detalhe de Produto</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.CPTMLabelFor(x => x.ProdutoId)
                    @Html.CPTMTextBoxFor(x => x.ProdutoId, tipo: EnumTextBoxType.Numerico, htmlAttributes: new { @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.CPTMLabelFor(x => x.Nome)
                    @Html.CPTMTextBoxFor(x => x.Nome, tipo: EnumTextBoxType.Padrao, htmlAttributes: new { @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.CPTMLabelFor(x => x.Categoria.Nome)
                    @Html.CPTMTextBoxFor(x => x.Categoria.Nome, tipo: EnumTextBoxType.Padrao, htmlAttributes: new { @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.CPTMLabelFor(x => x.UnidadeMedida.Nome)
                    @Html.CPTMTextBoxFor(x => x.UnidadeMedida.Nome, tipo: EnumTextBoxType.Padrao, htmlAttributes: new { @readonly = "readonly" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.CPTMLabelFor(x => x.Valor)
                    @Html.CPTMTextBoxFor(x => x.Valor, tipo: EnumTextBoxType.Moeda, htmlAttributes: new { @readonly = "readonly" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.CPTMLabelFor(x => x.Ativo)
                    <br />
                    @Html.CPTMCheckBoxFor(x => x.Ativo, customizado: true, htmlAttributes: new { @disabled = "disabled" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#divEquipamentoDetalheHistorico"
                             style="cursor: pointer;">
                            <a href="#"><i class="fa fa-history"></i> Histórico</a>
                        </div>
                        <div id="divEquipamentoDetalheHistorico" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        @Html.CPTMLabelFor(x => x.CadastradoPor)
                                        <p>@((Model.CadastradoPor ?? new Usuario()).Nome)</p>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        @Html.CPTMLabelFor(x => x.CadastradoEm)
                                        <p>@Model.CadastradoEm</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        @Html.CPTMLabelFor(x => x.AlteradoPor)
                                        <p>@((Model.AlteradoPor ?? new Usuario()).Nome)</p>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        @Html.CPTMLabelFor(x => x.AlteradoEm)
                                        <p>@Model.AlteradoEm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-8 text-left">
                    @Html.CPTMActionLink("Alterar", "btnDetalheProdutoAlterar", string.Empty, string.Empty, null, true, string.Empty, new { onclick = "produtoAlterar('" + HttpServerUtility.UrlTokenEncode(Encoding.ASCII.GetBytes(Model.ProdutoId.ToString())) + "')" }, false, ActionLinkTipo.Customizado, Tamanho.Normal, BootStrapEstilo.Alerta, Icones.Editar, Icones.Nenhum, true, true)
                    @Html.CPTMActionLink("Excluir", "btnDetalheProdutoExcluir", string.Empty, string.Empty, null, true, string.Empty, new { onclick = "ocultarCaixaDialogo('modalProdutoCadastro');produtoExcluir('" + HttpServerUtility.UrlTokenEncode(Encoding.ASCII.GetBytes(Model.ProdutoId.ToString())) + "','" + Model.Nome + "')" }, false, ActionLinkTipo.Customizado, Tamanho.Normal, BootStrapEstilo.Perigo, Icones.Lixeira, Icones.Nenhum, true, true)
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="111"><i class="fa fa-times-circle"></i> Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

    });

</script>
